



.regcontainer {
    width: 600px;
    height: auto;
    margin: 0px auto;
    border: 1px solid #ccc;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(234, 234, 234);
    margin-top: 90px;
    margin-bottom: 100px;
    
}
.regcontainer h1 {
    margin: 0 0 15px 0;
   display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: #ffffff;
    font-size: 20px;
    background-color: #007BFF;
    border-radius: 20px 20px 0px 0px;
    font-family: Arial, sans-serif;
}

.regform{
    font-size: 15px;
    font-weight: bold;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 20px;
   
}

label {
   margin-bottom: 0px;
   padding: 5px;
   display: block;
  
}


#gender {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#firstname, #password, #lastname,#middlename, #email, #confirm_password, #dob {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.regbutton {
    width: 95%;
    height: 40px;
    padding: 0px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px 20px 0px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}



@media (max-width: 400px) {
    .regcontainer {
        width: 80%;
        border-radius: 10px;
    }

    .regform {
        width: 90%;
        margin: 10px auto;
    }

    h1 {
        height: 40px;
        font-size: 18px;
    }

    label, #username, #password, button {
        width: 100%;
    }

    button {
        padding: 8px;
    }
}

